---
interface Props {
  href: string;
  title: string;
  description: string;
  date?: Date;
}

const { href, title, description, date } = Astro.props;
---

<li class="flex flex-col justify-between gap-x-6 py-5">
  <a
    href={href}
    class="inline-flex items-center rounded-md py-2 text-sm font-medium dark:hover:text-sky-400 hover:text-sky-500"
  >
    {title}
  </a>
  {
    date && (
      <time
        class="text-xs leading-5 text-gray-400"
        datetime={date?.toLocaleDateString()}
      >
        {date?.toLocaleDateString()}
      </time>
    )
  }
  <p class="mt-2 truncate text-xs leading-5 text-gray-400">{description}</p>
</li>
